<div id="app">
    <div v-if="page == 'start'">
        <div class="w3-row">
            <div class="w3-half w3-container">
                <div class="w3-card-4 w3-panel w3-padding-16">
                    <h2>Spiel beitreten</h2>
                    <label>Spielnummer/Magische Worte</label>
                    <input class="w3-input w3-border w3-round-large" type="text" v-model="gameNumber" placeholder="z.B. 738278923 oder ein-paar-worte">
                    <label>Name</label>
                    <input class="w3-input w3-border w3-round-large" type="text" v-model="name">
                    <button class="w3-button w3-green w3-block w3-margin-top" v-on:click="joinGame()">Beitreten</button>
                </div>
            </div>
            <div class="w3-half w3-container">
                <div class="w3-card-4 w3-panel w3-padding-16">
                    <h2>Neues Spiel</h2>
                    <label>Name</label>
                    <input class="w3-input w3-border w3-round-large" type="text" v-model="name">
                    <button class="w3-button w3-green w3-block w3-margin-top" v-on:click="createGame()">Erstellen</button>
                </div>
            </div>
        </div>
    </div>
    <div v-if="page == 'new-game'">
            <div>Spielnummer: {{ game.gameNumber }}</div>
            <div>Magische Worte: {{ game.gameNumberWords }}</div>
            <div>
                <h2>Spieler</h2>
                <table class="w3-table">
                    <tr v-for="player in game.players">
                        <td>{{ player.name }}{{ player.isHost ? '*' : '' }}</td>
                    </tr>
                </table>
            </div>
            <div>
                <button class="w3-button w3-green w3-block" v-on:click="startSetup()" v-if="game.player.isHost">Alle Spieler sind da – Spiel konfigurieren</button>
            </div>
        </div>
    </div>
    <div v-if="page == 'setup'">
        <div class="w3-panel w3-card-4 w3-container">
            <div class="w3-panel">Wie viele Karten sollen eingemischt werden?</div>
            <table class="w3-table w3-striped w3-hover">
                <thead>
                    <tr>
                        <td>Charakter</td>
                        <td>Anzahl</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Werwölfe</td>
                        <td><input class="w3-input" type="number" v-model="werewolfCount"></td>
                    </tr>
                    <tr>
                        <td>Hexen</td>
                        <td><input class="w3-input" type="number" v-model="witchCount"></td>
                    </tr>
                    <tr>
                        <td>Seherinnen</td>
                        <td><input class="w3-input" type="number" v-model="seerCount"></td>
                    </tr>
                    <tr>
                        <td>Jäger</td>
                        <td><input class="w3-input" type="number" v-model="hunterCount"></td>
                    </tr>
                    <tr>
                        <td>Amor (maximal 1)</td>
                        <td><input class="w3-input" type="number" v-model="amorCount"></td>
                    </tr>
                    <tr>
                        <td>Dorfbewohner</td>
                        <td><input class="w3-input" type="number" v-model="villagerCount"></td>
                    </tr>
                    <tr class="w3-topbar">
                        <td>Karten insgesamt</td>
                        <td>{{ totalCardCount }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="w3-panel w3-pale-red w3-leftbar w3-border-red" v-if="notEnoughCards">Es sind nicht genug Karten für die angemeldeten Spieler eingemischt.</div>
            <div class="w3-panel w3-pale-red w3-leftbar w3-border-red" v-if="fewCards">Es wird empfohlen, mindestens zwei Karten mehr als Spieler einzumischen.</div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/vue.js"></script>
    <script src="~/js/ui.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
}